<<<<<<< HEAD
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to bottom, #d7dee6 50%, #093561, #e48202ce);
}


/* Menu */
header .logo {
    width: 80px;
    height: auto;
    margin: 20px;
}

.header-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 14%;
    z-index: 1000;
    background: linear-gradient(to right, #d7dee6, #093561, #af7a4c);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

nav a {
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 15px;
}

.img-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    margin-top: 0px;
    z-index: -10;
    object-fit: cover;
}

.contender {
    position: relative;
    padding: 20px 20px 100px;
    color: white;
    background: linear-gradient(90deg, #075ee0 50%, #af7a4c 100%);
    height: 300px;
    text-align: center;
}

.contender-info {
    position: relative;
    padding: 50px 20px 100px;
    color: white;
    background: linear-gradient(90deg, #075ee0 50%, #af7a4c 100%);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}




main {
    padding: 100px 20px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}


/* Estilos do Formulário */
#ficha {
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Libertinus Keyboard", system-ui;
    font-weight: 400;
    font-style: normal;
}



.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    text-align: left;
    overflow-wrap: break-word;    
    /* overflow-y: auto; */
    /* max-height: 130vh; */

}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mensagem-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.mensagem-area {
    width: 100%;
    height: 60px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    background: #f9f9f9;
}

button[type="submit"] {
    display: block;
    width: 100px;
    padding: 15px;
    background-color: #ff9f4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007BFF;
}


fieldset button[type="button"] {
    background-color: #007BFF;
    color: white !important;
    padding: 5px 10px !important;
    font-size: 0.9em !important;
    margin-left: 15px;
}

fieldset button[type="button"]:hover {
    background-color: #0056b3;
}

.btn-remover {
    background-color: #f3051d !important;
    color: white !important;
    padding: 5px 5px !important;
    font-size: 0.9em !important;
    margin-left: 15px;
    border: none !important;
}

.btn-remover:hover {
    background-color: #c82333 !important;
}

/* sobre */

.img-sobre-cards {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.banner-sobre {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #fff;
}

.banner-text p {
    font-size: 20px;
}

/* Texto central */
.sobre-texto {
    padding: 2px;
    text-align: center;
}

.sobre-texto h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #075ee0;

}

/* Cards */
.sobre-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1000px;
}

.sobre-cards .card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex: 1 1 250px;
    transition: transform 0.3s;
}

.sobre-cards .card:hover {
    transform: translateY(-5px);
}

.sobre-cards h3 {
    margin-bottom: 10px;
    color: #075ee0;

}

/*    PÁGINA DE LOGIN    */

.login-body {
    background: #d7dee6;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.login-box {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 400px;
    text-align: center;
}

.login-logo {
    height: 60px;
    margin-bottom: 20px;
}

.login-box h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.login-box p {
    color: #ff0202;
    margin-bottom: 30px;
}

#loginForm {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.login-box button {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #b36929;
}

.login-box button:hover {
    background: #0056b3;
    color: white;
}

.error-message {
    color: var(--cor-perigo);
    margin-top: 15px;
    font-weight: 700;
}

/*    PAINEL (DASHBOARD)    */

.dashboard-container {
    margin-top: 100px;
    max-width: 1500px;
    margin-left: auto;
    padding: 10px 10px;
    margin-right: auto;
}

.dashboard-body {
    background: #ffff;
    min-height: 100vh;
}

.dashboard-container h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.dashboard-card {
    background: var(--cor-header);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dashboard-card h3 {
    font-size: 1.2em;
    color: #666;
}

.card-number {
    font-size: 3em;
    font-weight: 700;
    color: var(--cor-primaria);
}

.family-list h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-bar {
    width: 60%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    font-size: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--cor-header);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #f8f9fa;
}

.btn-action {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

td .btn-action:last-child {
    margin-right: 0;
}

.btn-action btn-edit {
    background-color: #075ee0;
}

.btn-donate {
    background-color: none;
    border: solid 2px #075ee0;
    gap: 10px;

}

/* Página de contato */
.contact-hero {
    background: linear-gradient(rgba(26, 115, 232, 0.8), rgba(148, 148, 148, 0.8)),
        url('/img/alimentos05.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 80px 10px;
    margin: 30px 10px;
}

.contact-hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    margin-bottom: 25px;
}

.contact-hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* SEÇÃO CONTATO */
.contact-section {
    padding: 30px 10%;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}

.contact-form h3,
.contact-info h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #1a73e8;
}

/* FORMULÁRIO */


.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 120%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #1a73e8;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.3);
}

.contact-form button {
    background: #1a73e8;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #1557b0;
}

.contact-info .info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-info .info-icon {
    margin-right: 12px;
    color: #1a73e8;
    flex-shrink: 0;
}

.contact-info h4 {
    font-weight: 600;
    margin-bottom: 4px;
}

.contact-info p {
    color: #555;
    font-size: 0.95rem;
}

.contact-map {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1000;
}

.whatsapp-float:hover {
    background: #1ebe5a;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .header-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-menu nav {
        margin-top: 10px;
    }

    .header-menu nav a {
        margin: 0 10px 10px 0;
        display: inline-block;
    }
}

footer {
    background-color: #093561;
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}





=======
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to bottom, #d7dee6 50%, #093561, #e48202ce);
}


/* Menu */
header .logo {
    width: 80px;
    height: auto;
    margin: 20px;
}

.header-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 14%;
    z-index: 1000;
    background: linear-gradient(to right, #d7dee6, #093561, #af7a4c);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

nav a {
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 15px;
}

.img-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    margin-top: 0px;
    z-index: -10;
    object-fit: cover;
}

.contender {
    position: relative;
    padding: 20px 20px 100px;
    color: white;
    background: linear-gradient(90deg, #075ee0 50%, #af7a4c 100%);
    height: 300px;
    text-align: center;
}

.contender-info {
    position: relative;
    padding: 50px 20px 100px;
    color: white;
    background: linear-gradient(90deg, #075ee0 50%, #af7a4c 100%);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}




main {
    padding: 100px 20px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}


/* Estilos do Formulário */
#ficha {
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Libertinus Keyboard", system-ui;
    font-weight: 400;
    font-style: normal;
}



.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    text-align: left;
    overflow-wrap: break-word;    
    /* overflow-y: auto; */
    /* max-height: 130vh; */

}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mensagem-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.mensagem-area {
    width: 100%;
    height: 60px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    background: #f9f9f9;
}

button[type="submit"] {
    display: block;
    width: 100px;
    padding: 15px;
    background-color: #ff9f4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007BFF;
}


fieldset button[type="button"] {
    background-color: #007BFF;
    color: white !important;
    padding: 5px 10px !important;
    font-size: 0.9em !important;
    margin-left: 15px;
}

fieldset button[type="button"]:hover {
    background-color: #0056b3;
}

.btn-remover {
    background-color: #f3051d !important;
    color: white !important;
    padding: 5px 5px !important;
    font-size: 0.9em !important;
    margin-left: 15px;
    border: none !important;
}

.btn-remover:hover {
    background-color: #c82333 !important;
}

/* sobre */

.img-sobre-cards {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.banner-sobre {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #fff;
}

.banner-text p {
    font-size: 20px;
}

/* Texto central */
.sobre-texto {
    padding: 2px;
    text-align: center;
}

.sobre-texto h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #075ee0;

}

/* Cards */
.sobre-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1000px;
}

.sobre-cards .card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex: 1 1 250px;
    transition: transform 0.3s;
}

.sobre-cards .card:hover {
    transform: translateY(-5px);
}

.sobre-cards h3 {
    margin-bottom: 10px;
    color: #075ee0;

}

/*    PÁGINA DE LOGIN    */

.login-body {
    background: #d7dee6;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.login-box {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 400px;
    text-align: center;
}

.login-logo {
    height: 60px;
    margin-bottom: 20px;
}

.login-box h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.login-box p {
    color: #ff0202;
    margin-bottom: 30px;
}

#loginForm {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.login-box button {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #b36929;
}

.login-box button:hover {
    background: #0056b3;
    color: white;
}

.error-message {
    color: var(--cor-perigo);
    margin-top: 15px;
    font-weight: 700;
}

/*    PAINEL (DASHBOARD)    */

.dashboard-container {
    margin-top: 100px;
    max-width: 1500px;
    margin-left: auto;
    padding: 10px 10px;
    margin-right: auto;
}

.dashboard-body {
    background: #ffff;
    min-height: 100vh;
}

.dashboard-container h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.dashboard-card {
    background: var(--cor-header);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dashboard-card h3 {
    font-size: 1.2em;
    color: #666;
}

.card-number {
    font-size: 3em;
    font-weight: 700;
    color: var(--cor-primaria);
}

.family-list h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-bar {
    width: 60%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    font-size: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--cor-header);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #f8f9fa;
}

.btn-action {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

td .btn-action:last-child {
    margin-right: 0;
}

.btn-action btn-edit {
    background-color: #075ee0;
}

.btn-donate {
    background-color: none;
    border: solid 2px #075ee0;
    gap: 10px;

}

/* Página de contato */
.contact-hero {
    background: linear-gradient(rgba(26, 115, 232, 0.8), rgba(148, 148, 148, 0.8)),
        url('/img/alimentos05.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 80px 10px;
    margin: 30px 10px;
}

.contact-hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    margin-bottom: 25px;
}

.contact-hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* SEÇÃO CONTATO */
.contact-section {
    padding: 30px 10%;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}

.contact-form h3,
.contact-info h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #1a73e8;
}

/* FORMULÁRIO */


.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 120%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #1a73e8;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.3);
}

.contact-form button {
    background: #1a73e8;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #1557b0;
}

.contact-info .info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-info .info-icon {
    margin-right: 12px;
    color: #1a73e8;
    flex-shrink: 0;
}

.contact-info h4 {
    font-weight: 600;
    margin-bottom: 4px;
}

.contact-info p {
    color: #555;
    font-size: 0.95rem;
}

.contact-map {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1000;
}

.whatsapp-float:hover {
    background: #1ebe5a;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .header-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-menu nav {
        margin-top: 10px;
    }

    .header-menu nav a {
        margin: 0 10px 10px 0;
        display: inline-block;
    }
}

footer {
    background-color: #093561;
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}





>>>>>>> 071c6f8 (Arrumando as Index para ajuste do github)
